*{
    margin:0px;
    padding:0px;
}
/*Fuentes */
@font-face {
    font-family: Century Gothic;
    src: url(ufonts.com_century-gothic.ttf);
}

/*Clases*/
.MensajeEmergente{
    display:none;
}

/*Etiquetas Individuales*/
#main {
    background-image: url(../img/fondo/fondo_madera3.jpg);
    /*background-color: #FFFAFA;*/
    position: static;
}

#tabCabecera{
    background-color: #848484;
    width: 100%;    
    font-family: Century Gothic;
}

.divBarra{
    background-image: url(../img/fondo/linea.fw.png);
    color:#848484;
    height: 50px;          
}


#CentroTabla{            
            padding-left: 25px;
            background-color: #848484;
        }    
        
#menu {
	text-align:center;        
	}
        
#tabmenu{
            margin: auto;
	margin-left:100px;
        }        
#cuerpo{
      margin: auto;
      margin-top:15px;     
	}
  
#div_banner{
        background-image: url(../imagen/comedor/barracomedor.jpg);            
        margin-top:50px;
        height: 150px;
        }

#banner{        
        font-size:50px;
        color:#FFFAFA;        
        margin-left: 400px;
        margin-top:150px;
        font-family: Century Gothic;
        }

#piePagina {
	text-align:center;
	font-size:14px;	 
        color:#ccc;
	background-color:#848484;	 
	margin-top:15px;	
        font-family:Century Gothic;             
	}

.tdCabecera{
            font-weight:bold;
            font-size:16px;	 
        }

.mensaje{ 
 margin-left:98px;
 margin-right: 470px;
 margin-top:40px;
 margin-bottom: 40px;
/* background-color: white;*/
 font-family: Century Gothic;
 font-size:12px;	 
 background-image: url(../img/fondo/globo.fw.png);
}

.parTitulo{
    	font-size:22px;	 
        font-weight:bold;
        text-align: center;       
}